@font-face {
  font-family: "RistrettoPro-Regular";
  src: url('fonts/font.woff2') format('woff2'), url('fonts/font.woff') format('woff');
}

@font-face {
  font-family: 'URW DIN Arabic Cond';
  src: url('fonts/URWDINArabicCond-Black.woff2') format('woff2'),
    url('fonts/URWDINArabicCond-Black.woff') format('woff');
}

@font-face {
  font-family: 'Neusa';
  src: url('fonts/Neusa-SemiBold.woff2') format('woff2'),
    url('fonts/Neusa-SemiBold.woff') format('woff');
}

@font-face {
  font-family: "Akrobat";
  src: url("./fonts/Akrobat-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Bold";
  src: url("./fonts/Akrobat-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Light";
  src: url("./fonts/Akrobat-Light.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Semibold";
  src: url("./fonts/Akrobat-SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Extrabold";
  src: url("./fonts/Akrobat-ExtraBold.otf") format("truetype");
}





* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Akrobat Bold";
}

#body {
  height: 100vh;

  overflow: hidden;
  /*background: url(images/logo.png), linear-gradient(5.9deg, rgba(252, 215, 8, 0.556) 0%, rgba(202, 24, 24, 0) 36.02%, rgba(26, 25, 25, 0.9) 84.1%, rgba(26, 25, 25, 0.9) 100%, rgba(128, 128, 128, 1) 100%)rgba(26, 25, 25, 0.7);
  background-repeat: no-repeat;
  background-size: 13vw, 100%;
  background-position: 70vw 5vh, center center;*/
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#leaderboard-container {
  position: absolute;
  width: 20vw;
  height: 35vh;
  margin-top: 55vh;
  position: relative;
  left: -1vh;
  float: right;
  display: none;
}

#leaderboard-container .item {
  width: 100%;
  height: 10vh;
  border-radius: 1vw 0vw 0vw 1vw;
  margin-top: 0.5vh;
}

#leaderboard-container .item div {
  display: inline-block;
  vertical-align: bottom;
}

.position {
  border: 1px solid;
  width: 2.3vw;
  transform: rotateZ(45deg);
  height: 2.3vw;
  margin-top: 2.7vh;
  margin-left: 1vw;
}

#first.item .position {
  border: 2px solid rgb(255, 217, 0);
  background: rgb(206, 175, 1)
}

#second.item .position {
  border: 2px solid rgb(129, 129, 129);
  background: rgb(170, 170, 170)
}

#third.item .position {
  border: 2px solid rgb(145, 72, 3);

  background: rgb(104, 51, 2);
}

#mydata.item .position {
  border: 2px solid rgb(240, 36, 87);

  background: rgb(235, 77, 117)
}

#leaderboard-container .position .de-rotate {
  transform: rotateZ(-45deg);
}

#leaderboard-container .item .player-name {
  width: 5vw;
  color: white;
  margin-left: 1vw;
  font-size: 1vw;
  position: relative;
  top: -1.3vh;
  word-break: break-word;
}

#leaderboard-container .item .position i {
  color: white;
  margin-top: 1.6vh;
  margin-left: 0.3vw;
  font-size: 1.2vw;
}

#leaderboard-container .item .player-kills {
  font-size: 0.8vw;
  position: relative;
  top: -1.5vh;
  color: gray;
  border: 1px;
}

#leaderboard-container .item .player-level {
  margin-left: 2vw;
  font-size: 0.8vw;
  position: relative;
  top: -1.5vh;
  color: gray;
}

::-webkit-scrollbar {
  width: 0.2vw;
  border-radius: 50px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}